<div class="jumbotron text-center">
  <h1>Welcome, @<%= user.username %>!</h1>
  <img src="<%= user.twitteravi %>" />
  <div class="jumbotron">
    <h5>Check your Twitter direct messages; updates are currently being sent out every minute</h5>
  </div>
  <div class="tall">
    <div class="hero-image">
    </div>
  </div>
</div>