<div>
  Login via twitter
</div>

<a href="/auth/twitter">Log In with Twitter</a>

<div class="hero-image">
  <div class="hero-text">
    <h1>Sport Pulse</h1>
    <p>And I'm a Photographer</p>
    <button>Hire me</button>
  </div>
</div>