<div class="jumbotron text-center">
  <div class="hero-text">
    <h1>Sport Pulse</h1>
    <h5>Log in via Twitter to follow our bot, @SportPulseBot</h5>
    <h6>and start getting updates about your favorite players and teams!</h6>
    <a href="/auth/twitter"><img src="/twitbutton.png" /></a>
  </div>
  <div class="tall">
    <div class="hero-image">
    </div>
  </div>
</div>
